
@{
    ViewData["Title"] = "GerarDoc";
}

<h1>GerarDoc</h1>

<div class="row">
	
	<form asp-action="RealizaDown">
		<div class="d-flex justify-content-center">
			<h3><strong>Arquivo de rotas gerado com sucesso!</strong></h3>
		</div>
		<hr />
		<div class="d-flex justify-content-center">
			<input type="submit" value="Download"  />
		</div>
	</form>
</div>

